name: Update GraalVM Old

on:
  schedule:
    - cron: 0 15 * * 1-5
  workflow_dispatch:

jobs:
  run:
    name: "Run Java Migration for GraalVM Old"
    strategy:
      fail-fast: false
      matrix:
        java-distribution: [ graalvm_ce11, graalvm_ce17, graalvm_ce19]
        distribution-version: [ 22 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
      - name: Run graalvm
        run: ./mvnw spring-boot:run -Dspring-boot.run.arguments="--foojay.java.distribution=${{ matrix.java-distribution }} --foojay.distribution.version=${{ matrix.distribution-version }} --foojay.java.release-status=ga"
        env:
          SDKMAN_RELEASE_CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
          SDKMAN_RELEASE_CONSUMER_TOKEN: ${{ secrets.CONSUMER_TOKEN }}
